* {
    margin: 0;
    padding: 0;
    border: 0;
}

.head {
    margin: 0;
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    /* z-index: 9999; */
}

.head_content {
    margin: 0 auto;
    text-align: center;
    width: 40%;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

td {
    flex: auto;
}

.head_content a {
    padding: 12px 20px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    justify-self: center;
}

.content {
    margin-top: 4%;
    margin-bottom: 5%;
    width: 100%;
    height: 60rem;
    line-height: 200%;
    display: flex;
}

.text_content {
    padding: 2% 10%;
    width: 50%;
}

.text_content_a {
    width: 95%;
}

li {
    /* color:#333333;
    font-family:serif;
    font-size:20px;
    bol */
    /* line-height:1.75em; */
}

.publication_content {
    width: 60%;
    margin: 0 auto;
    /* padding: 10%; */
}

.img_content {
    width: 50%;
    padding-top: 3%;
}

h2 {
    padding-top: 3%;
}

h3 {
    padding-top: 1.5%;
}

.new_content {
    width: 75%;
    margin: 0 auto;
    padding-top: 3%;
}

.new_content a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: black;
}

a:hover {
    text-decoration: underline;
}